

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <%if(Rol=='Administrativo'){%>
          <li class="nav-item">
            <a class="nav-link active"  aria-current="page" href="/Listar_productos">Productos</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link active"  aria-current="page" href="/Frm_usuario">Clientes</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active"  aria-current="page" href="/abrirReporte1">Reportes</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active"  aria-current="page" href="/GenerarPdf">Pdf</a>
          </li>
          
          <%}%>

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><%=User%></button>
        </form>
      </div>
    </div>
  </nav>

 